@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Softwire<br/>
    110 Highgate Studios<br />
    53-79 Highgate Road<br />
    London NW5 1TL<br />
    <abbr title="Phone">P:</abbr>
    020 7485 7500
</address>

<address>
    <strong>Contact Us:</strong>   <a href="mailto:london@softwire.com">london@softwire.com</a>
</address>